.feedbackContainer {
  color: black;
}

.feedbackList {
  list-style: none;
  padding: 0;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.totalFeedback, .positiveFeedback {
  margin-block-start: 0;
  margin-block-end: 0;
}